// Here you can add other styles
.header{
    background: linear-gradient(90deg, #4B79A1 -2.09%, #283E51 88.08%);
    margin-bottom: 0rem !important;
    border-bottom: none ;
}
.body{
    background: linear-gradient(90deg, #4B79A1 -2.09%, #283E51 88.08%); 
}

.header .container-fluid .header-nav .nav-item .nav-link{
    color:white;
}
.header .container-fluid .header-toggler{
    color:white;
}

.mb-4, .my-4{
    margin-bottom: 0rem !important;
}

.d-md-flex{
    display: flex;
    justify-content:space-evenly;
}
.d-md-flex img{
    width: 50px;
    height: 50px;
}
.d-md-flex h2{
    align-self: center;
}

.d-md-flex p {
    font-size: 8px;
}
.home-container img{
    width: 600px;
    height: 500px;
}