// Here you can add other styles
.header{
    background: linear-gradient(90deg, #4B79A1 -2.09%, #283E51 88.08%);
    margin-bottom: 0rem !important;
    border-bottom: none ;
}
.body{
    background: linear-gradient(90deg, #4B79A1 -2.09%, #283E51 88.08%); 
}

.header .container-fluid .header-nav .nav-item .nav-link{
    color:white;
}
.header .container-fluid .header-toggler{
    color:white;
}

.mb-4, .my-4{
    margin-bottom: 0rem !important;
}